<!--   <ion-modal-view>
    <ion-header-bar class="ig-upload-modal-header">
    <div ng-click="closeUploadModal()" class="ig-close-modal-area"><i class="center ion-close-round"></i></div>
      <h1 class="title ig-modal-title">Upload an image</h1>
    </ion-header-bar>
    <ion-content>



    </ion-content>
    <div class="ig-upload-post-button ig-button-share" ng-click="addNewPost(post)">Share</div>
  </ion-modal-view> -->






  <ion-modal-view>
    <ion-header-bar class="ig-upload-modal-header">
    <div ng-click="closeUploadModal()" class="ig-close-modal-area"><i class="center ion-close-round"></i></div>
      <h1 class="title ig-modal-title">Upload an image</h1>
    </ion-header-bar>
    <ion-content>

        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Name" ng-model="post.author">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Message" ng-model="post.message">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Location" ng-model="post.location">
          </label>          
        </div>

        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Username" ng-model="user.username">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Password" ng-model="user.password">
          </label>        
        </div>        

    <div class="ig-button ig-button-share" ng-click="logIn(user)">Login</div>  
    <div class="ig-button ig-button-share" ng-click="register(user)">Register</div>  

    <div class="ig-button ig-button-share" ng-click="getAllImages()">Share</div>

    <div ng-repeat="image in images">
        <img ng-src="{{ image }}" alt="the image">
    </div>

    </ion-content>
    <div class="ig-upload-post-button ig-button-share" ng-click="addNewPost(post)">Share</div>
  </ion-modal-view>